@value makerGreen, makerSmokeWhite, makerWhite, makerBlack, makerLightBlack from '../../common/colors.css';


.container {
  width: 100%;
  height: 100%;
}

.image_btn {
  width:100%;
  height:100%;
  outline: 0;
  border:0;
  border-bottom:1px solid makerBlack;
  color: makerLightBlack;
  background-color: makerSmokeWhite;
  font-size: 0.8rem;
  font-weight: bold;
  letter-spacing: 0.07em;
  cursor: pointer;
}

.image_btn:hover {
  opacity: 0.8;
}

.file_input {
  display:none;
}